**/node_modules
**/_IGNORE_COVID_HELPER
**/COVID_HELPER.data.json
**/qr_code1.png
**/qr_code.png
**.js
**/out
# managed by open-wa
**.data.json
**.node-persist**
**_IGNORE_**
# end managed by open-wa
